@import "tailwindcss";

@theme {
    --color-bg-dark: oklch(0.1 0.02 304);
    --color-bg: oklch(0.15 0.02 304);
    --color-bg-light: oklch(0.2 0.02 304);
    --color-text: oklch(0.96 0.04 304);
    --color-text-muted: oklch(0.76 0.04 304);
    --color-highlight: oklch(0.5 0.04 304);
    --color-border: oklch(0.4 0.04 304);
    --color-border-muted: oklch(0.3 0.04 304);
    --color-primary: oklch(0.76 0.1 304);
    --color-secondary: oklch(0.76 0.1 124);
    --color-danger: oklch(0.7 0.05 30);
    --color-warning: oklch(0.7 0.05 100);
    --color-success: oklch(0.7 0.05 160);
    --color-info: oklch(0.7 0.05 260);
}

@layer base {
    :root {
        @apply text-text;
    }
    p {
        @apply text-[min(4vw,24px)];
    }

    h2 {
        @apply text-[min(6vw,28px)] font-semibold;
    }
    h3 {
        @apply text-[min(5vw,18px)] font-semibold;
    }
    section {
        @apply bg-bg border-b-highlight h-1/2 w-full rounded-b-md border-b-3 p-[min(6vw,40px)];
    }
    body {
        @apply flex-center bg-bg;
    }
    form {
        @apply flex-center w-full flex-col gap-2.5 lg:w-1/2;
    }
    label {
        @apply mr-auto;
    }
    button {
        @apply bg-info rounded-md;
    }
    #root {
        @apply flex-center w-full flex-col;
    }
    .main-content {
        @apply max-w-360;
    }
}

@layer components {
    .card-wrapper {
        @apply grid auto-cols-auto grid-cols-3 gap-8 px-[min(2vw,40px)] md:grid-cols-7;
    }
    .card {
        @apply bg-bg border-border-muted h-auto w-full rounded-md border-3 p-2.5;
    }
    .card:hover {
        @apply bg-bg-light border-highlight;
    }
    .input-field {
        @apply border-border-muted w-full rounded-md border-2 p-2.5;
    }
    .social-media {
        @apply mb-2.5 flex gap-2.5;
    }
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility project-card {
    @apply flex h-[min(40vw,240px)] w-full items-end justify-center;
}
